h2 {
    margin-bottom: 20px;
}

.cuadro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background: #f9f8f6;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
    border:  solid black;
}

.cuadro:hover {
    background: #f3f2f0;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

